html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    cursor: url('img/cursor3.png'), auto;
}
h1{
    font-family: 'Saira Condensed', sans-serif;
    color: yellow;
    font-size: 70px;
    text-transform: uppercase;
}
h2{
    font-family: 'Saira Condensed', sans-serif;
    color: yellow;
    font-size: 40px;
}
h3{
    font-family: 'Saira Condensed', sans-serif;
    color: yellow;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 14px;
    line-height: 2;
}

.navbar{
    padding: 25px;
    background-color: black;
}
.navbar-brand{
    font-size: 35px;
    font-family: 'Saira Condensed', sans-serif;
    color: yellow;
}
.navbar-brand a{
    color: yellow;
}
#heroheader{
    background-image: url("img/bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.leftColumn{
    padding: 35px;
    /* background-color: black; */
    background: rgb(0,0,0, .7);
    height: 100vh;
}
.headerText{
    margin-top: 50%;
    padding-left: 10px;
}
.btn{
    background-color: yellow;
    border-radius: 999px;
    transition: 1s ease-out;
}
.btn:hover{
    background-color: black;
    border: 1px solid yellow;
    color: yellow;
    transition: 1s ease-in;
    cursor: crosshair;
}

.featureGames{
    /* height: 50vh; */
    background-color: black; 
}

.featureGamesText{
    /* width: 60%; */
    padding: 10px;
    margin: 10px;
    
}

.featureGame{
    margin: 0px auto; 
    padding-left: 0px; 
    padding-right: 0px;
}

#rightsidecolfeatureGames{
    background-color: black; 
}

#leftsidecolfeatureGames{
    background-color: black; 
}

.card{
    background-color: black; 
    margin: 10px; 
    border: none;
}
.card-body{
    background-color: black; 
    padding: 35px;
}

.cardbox{
    background-color: black; 
    margin: 10px;
    padding: 20px;
    transition: 1s ease-out;
}


.cardbox:hover{
    box-shadow: rgba(229, 223, 143, 0.3) 0px 7px 29px 0px;
    transition: 1s ease-in;
    transform: scale(1.09, 1.09);
}

.cardboxPro{
    background-color: black; 
    margin: 10px;
    padding: 20px;
    transition: 1s ease-out;
    box-shadow: rgba(229, 223, 143, 0.3) 0px 7px 29px 0px;
}

.cardboxPro:hover{
    background-color: black; 
    margin: 10px;
    padding: 20px;
    transition: 1s ease-out;
    box-shadow: rgba(229, 223, 143, 0.6) 0px 7px 29px 0px;
    transform: scale(1.15, 1.15);
}

.list-unstyled{
    line-height: 2;
}

.topfeatures{
    margin-top: 45px; 
    margin-left: 20px; 
    margin-right: 20px;
}

hr{
    color: yellow;
    border: 1px solid yellow;
}

.footer{
    background-color: black;
    margin-top: 120px; 
    /* margin-bottom: 50px; */
}
.py-5{
    background-color: black; 
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hiddenfade{
    opacity: 0;
    transition: all 2.5s;
}
.showfade{
    opacity: 1;
}

.hiddenTop{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 2s;
}
.showTop{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hiddenScale{
    opacity: 0;
    filter: blur(5px);
    transform:scale(0.5,0.5);
    transition: all 2s;
}
.showScale{
    opacity: 1;
    filter: blur(0);
    transform: scale(1,1);
}

.pricing-header{
    max-width: 700px;
}

.badge{
    background-color: yellow;
    color: black;
    font-size: 14px; 
}

.fa{
    color: #ffffff;
    margin: 7px;
    transition: 1s ease-out;
}

.fa{
    color: #ffffff;
    margin: 7px;
    transition: .5s ease-out;
    transform: translateX(0px);
}

.fa:hover{
    color: yellow;
    transition: .5s ease-in;
    transform: translateY(-7px);
}
